* {
  font-family: "Ubuntu" !important;
}
body {
  margin: 0;
}

:root {
	--yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
	--orange: #fca61f;
	--black: #242d49;
	--gray: #788097;
	--purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
	--pink: #FF919D;
	--glass: rgba(255, 255, 255, 0.54);
	--boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
	--smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
	--activeItem: #f799a354;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb93f;
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  border-bottom: #ffb93f solid 5px;
}

.active {
  border-bottom: white;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}
.FormGroup {
	margin: 5% 15px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
  
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
  min-width: 95%;
  align-content: inherit;
  
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: inherit;
	margin-left: 15px;
	border-top: 1px solid #819efc;

}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

button {
	display: block;
	font-size: 16px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 20px 15px 0;

	background-color: #f6a4eb;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
  align-items: inherit;
 
}

button:active {
	background-color: #d782d9;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3 {
	text-align: center;
}
.Typography{
  margin-top: 5%;
  text-align: center;
}

.Container{
  width: 50px;
}

.supplier-app {
	background: linear-gradient(
		106.37deg,
		#fbe6cc 29.63%,
		#f8bec0 51.55%,
		#e9aee6 90.85%); 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
}

.app-container {
	display: grid;
	height: 97%;
	width: 97%;
	border-radius: 2rem;
	background: var(--glass);
	overflow: hidden;
	grid-template-columns: 11rem auto;
	/* grid-template-columns: 11rem auto 20rem; */
}

.mainboard-div {
	padding: 2rem;
}

.dashboard-heading {
	text-align: left;
}

@media screen and (max-width: 1200px) {
	.app-container{
		grid-template-columns: 10% auto;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 768px) {
	.app-container {
		grid-template-columns: 1fr;
	}
	.app-container::-webkit-scrollbar {
		display: none;
	}
}
