body {
  margin: 0;
}

.button {
  background-color: #2b0245;
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.active,
.button:hover {
  background-color: #6f4689;
}
