.Updates {
    width: 85%;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.update {
    display: flex;
    gap: 1rem;
}