.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #2b0245;
  opacity: 85%;
}

.logo {
  height: 65px;
  cursor: pointer;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 4px;
  border-style: solid;
  border-color: #ffb93f;
}
.greeting {
  font-size: 20px;
  margin-right: 50px;
  color: white;
}
