.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(254, 185, 63, 1) 13%,
    rgba(254, 185, 63, 1) 69%,
    rgba(43, 2, 69, 1) 100%
  );

  height: 70px;
  color: #2b0245;
}

.logo {
  height: 70px;
  cursor: pointer;
}
.greeting {
  font-size: 20px;
  margin-right: 50px;
}
