.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #2b0245;
  opacity: 85%;
  background-image: linear-gradient(
    to right top,
    #ffb93f,
    #ec7344,
    #bd3650,
    #7b0753,
    #2b0245
  );
}

.logo {
  height: 70px;
  cursor: pointer;
  border-width: 2px;
}
.greeting {
  font-size: 20px;
  margin-right: 50px;
  color: white;
}
