.applicationCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  width: 100%;
}

.applicationCard {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 10px;
  padding-right: 10px;
  height: 10vh;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
}

.applicationImage {
  height: 8vh;
  border-radius: 15px;
}
