.MainBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;

}

@media screen and (max-width: 1200px) {
    .MainBoard {
        justify-content: flex-start;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .MainBoard {
        align-items: center;
    }
}