.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;

}

.s-logo {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
}

.s-logo>img{
    width: 3rem;
    height: 3rem;
}

.s-menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: 300ms ease;
    font-size: 16px;
    border-radius: 0.7rem;
}

.menuItem:hover {
    cursor: pointer;
}

.s-active {
    background: var(--activeItem);
    margin-left: 0;
}

.s-active::before {
    content: ' ';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}

.s-menu .menuItem:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 100%;
}

.bars {
    display: none;
}

@media screen and (max-width: 1200px) {
    .menuItem .s-menu-item span{
        display: none;
    }
    .s-logo{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .Sidebar {
        position: fixed;
        z-index: 9;
        background: #ffe0e0;
        width: 55%;
        padding-right: 1rem;
        height: 100%;
    }

    .menuItem .s-menu-item span{
        display: block;
    }

    .s-logo {
        display: flex;
    }

    .s-menu .menuItem:last-child {
        position: relative;
        margin-top: 2rem;
    }

    .bars {
        display: flex;
        position: fixed;
        top: 2rem;
        z-index: 9;
        background: #ffe0e0;
        padding: 12px;
        border-radius: 10px;
    }
}

.s-icon {
    padding-right: 1rem !important;
}