.applicationDetailsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applicationDetails {
  font-size: 20px;
}

.label {
  font-weight: bolder;
  color: #ffb93f;
}

.buttons {
  display: flex;
  margin-top: 40px;
}

.icon {
  width: 20px;
  margin-right: 5px;
}
