.productdetailsScreen {
  display: flex;
  margin: 20px;
}

.carouselContainer {
  flex-grow: 1.5;
  flex-basis: 0;
  height: 400px;
  margin: 5px;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.detailsContainer {
  flex-grow: 2;
  flex-basis: 0;
  padding: 5px;
  margin: 5px;
  align-items: center;
}

.functionalitiesContainer {
  margin: 5px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.ratingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.suggestions {
  display: flex;
  margin: 60px 20px;
}
.suggestionsCards {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.suggestionsContainer {
  margin-top: 200px;
}
