.DashboardCard {
    display: flex;
    gap: 10px;
}

.cardParentContainer {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .DashboardCard{
        flex-direction: column;
    }
    .cardParentContainer {
        height: 9rem;
    }
}

@media screen and (max-width: 768px) {
    .DashboardCard {
        width: 90%;
    }
}