.MuiTableRow-root>* {
    padding: 10px
}

.MuiTableRow-root.MuiTableRow-head>* {
    font-weight: bold !important;
}

.CustomTable, .ProductsTable {
    border: none !important;
    overflow: auto;
    height: 80vh;
}

td,
th {
    border: none !important;
}

.CustomTable:first-child {
    border-radius: 0.7rem !important;
}
.status {
    padding: 8px;
    border-radius: 9px;
}

.Details {
    color: blue ! important;
}

@media screen and (max-width: 1200px) {
    .CustomTable, .ProductsTable {
        display: flex;
        margin-top: 2rem;
        overflow: auto;
    }
}

@media screen and (max-width: 768px) {
    .CustomTable, .ProductsTable {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        overflow: auto;
    }
}
table {
    padding: 2rem;
    position: flex;
}

thead th {
    font-weight: '600';
    background-color: rgb(252, 236, 206); 
    display: block;
}

tbody td {
    font-weight: '300';
}

tbody tr:hover {
    background-color: #fcf0fc;
    cursor: 'pointer';
}